*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--white: #fff;
	--white08: rgba(255, 255, 255, 0.8);
	--green: #179d77;
	--dark-green: #111927;
}
html,
body {
	height: 100vh;
	overflow: hidden;
	color: var(--white);
	font-family: 'Inter', sans-serif;
	height: 100vh;
	background-color: #111927;
	background-image: radial-gradient(at 50% 10%, hsl(162, 77%, 40%) 0, transparent 59%),
		radial-gradient(at 82% 10%, hsl(218, 39%, 11%) 0, transparent 55%);
}
h1 {
	margin-bottom: 70px;
}

.container {
	height: 100%;
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
	padding: 0 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
}

.headerInner {
	width: 100%;
	height: 100%;
	padding: 5px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 120px;
	height: 100%;
	overflow: hidden;
}
.logo img {
	width: 100%;
	height: 100%;
}
.nav {
	height: 100%;
	display: flex;
	align-items: center;
}

.navLink {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0px 10px;
	margin-right: 5px;
	text-decoration: none;
	color: #000;
	border-radius: 10px;
	transition: all 0.4s ease;
}

.navLink:hover {
	color: var(--green);
	background-color: var(--dark-green);
}

.navLink.active {
	color: var(--green);
	background-color: var(--dark-green);
}

.codeBlock {
	font-family: inherit;
	backdrop-filter: blur(13px) saturate(200%);
	-webkit-backdrop-filter: blur(13px) saturate(200%);
	background-color: rgba(17, 25, 40, 0.71);

	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
	width: 400px;
	height: 470px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	padding: 23px 23px;
}

.title {
	font-size: 20px;
}

.codeBlockInner {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}
.inputGroup {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	position: relative;
}

label {
	font-family: inherit;
	font-size: 15px;
	margin-bottom: 6px;
	margin-left: 2px;
	color: var(--white08);
}

input,
select {
	width: 100%;
	font-family: inherit;
	padding: 13px 10px;
	padding-left: 40px;
	border-radius: 7px;
	outline: 0;
	border: 0;
	color: var(--white08);
	background-color: rgba(0, 0, 0, 0.2);
	border: 2px solid transparent;
	font-size: 14px;
	transition: all 0.1s ease;
}

select {
	padding: 13px 10px;
	margin-top: 15px;
}

input:focus {
	border: 2px solid var(--green);
	background-color: rgba(255, 255, 255, 0.1);
}

.inputIcon {
	position: absolute;
	left: 10px;
	top: 55%;
	width: 20px;
	height: 20px;
}

select {
	height: 50px;
}
.resBlock {
	min-height: 30px;
	font-size: 14px;
}
.res {
	cursor: pointer;
	position: relative;
}

.res[data-tooltip]::after {
	content: attr(data-tooltip);
	position: absolute;
	width: 100%;
	bottom: -20px;
	left: 0;
	font-size: 13px;
	opacity: 0;
	transition: all 0.2s ease;
}

.res:hover[data-tooltip]::after {
	opacity: 0.5;
}

.successBtn {
	cursor: pointer;
	width: 100%;
	color: var(--white08);
	background-color: rgba(0, 0, 0, 0.1);
	border: 0;
	height: 45px;
	font-size: 14px;
	font-family: inherit;
	border-radius: 7px;
	transition: all 0.3s ease;

	margin-top: 30px;
}

.successBtn:hover {
	background-color: var(--green);
	color: var(--white);
}
